body{
    font-family: Tahoma;
    min-height: 100vh;
}


.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

:root{
    --offcanvas-width: 250px;
    --topNavBarHeight: 56px;
}

.sidebar-menu{
    width: var(--offcanvas-width);
}

@media (min-width: 992px) {
    body{
        overflow: auto !important;
    }

    .sidebar-menu{
        transform: none;
        visibility: visible !important;
        top:var(--topNavBarHeight);
        height: calc(100% - var(--topNavBarHeight));
    }

    main{
        margin-left: var(--offcanvas-width);
    }
}

#ic-burger{
    color: purple;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.row_title{
    font-size: 25px;
    font-weight: 700;
    color: black;
    margin-top: 50px;
}

.card_area{position: relative;margin-bottom: 30px;}
.single_card{
    border:1px solid #32abd2;
    border-radius: 10px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.card_title{
    padding: 10px;
    text-align: center;
    background-color: #32abd2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card_title h3{
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.box-icon{
    font-size: 100px;
    text-align: center;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer;
}
.checkbox:checked ~ .single_card{border: 1px solid #95c11f;}
.checkbox:checked ~ .single_card .card_body .card_title{background-color:#95c11f; color: white;}
.checkbox:checked ~ .single_card .card_body .card_title h3{color: white;}
.checkbox:checked ~ .single_card .card_body {color: black;}

.continueBtn{
    max-width: 370px;
    background-color: #32abd2;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 125px;
    border: 0;
}




