body {
    overflow-x: hidden;
}

#sidebar {
    position: fixed;
}

#main-content {
    margin-left: 280px;
}

.nav > .active > a {
    background-image: linear-gradient(to right, #95C11F, #FFFFFF);
}

